* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 1vh;
}

#new-sketch {
  margin-bottom: 1vh;
}

#clear {
  margin-bottom: 5vh;
}

#container {
  height: 900px;
  width: 900px;
  margin: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
}
